/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333; /* Couleur de fond de l'entête */
    color: #fff; /* Couleur du texte de l'entête */
}

.menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #333; /* Couleur de fond du menu */
    color: #fff; /* Couleur du texte du menu */
    padding: 10px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.search-bar {
    margin-top: 20px;
}

.section {
    padding: 20px;
}

.column {
    flex: 1;
    padding: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 30%; /* Pour avoir 3 cartes par ligne */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

footer {
    background-color: #333; /* Couleur de fond du pied de page */
    color: #fff; /* Couleur du texte du pied de page */
    padding: 20px;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
}

/* Ajoutez d'autres styles selon vos besoins */
